NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY = 
CLERK_SECRET_KEY =
DATABASE_URL =
WEBHOOK_SECRET = 
NODE_ENV = 
HF_TOKEN = 
RAZORPAY_KEY_ID = 
RAZORPAY_KEY_SECRET = 
NEXT_PUBLIC_RAZORPAY_KEY_ID = 
GOOGLE_GENAI_API_KEY = 